<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Overview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a th:href="@{/login}">Login</a>

<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/book/create}">Add new</a>
</div>

<div class="row" th:each="book : ${books}">
    <div class="col-md-12">
        <p th:text="${book.name}"></p>
    </div>
</div>
</body>

<section>
    <script type="text/javascript">
        function changePage(nextPage){
            var parts = window.location.href.split('/');
            var currentPage = parseInt(parts[3]);

            if(isNaN(currentPage)){
                alert("Here");
                currentPage = 1;
            }else{
                if(nextPage){
                    currentPage += 1;
                }
                else{
                    currentPage -= 1;
                }
            }

            window.location.replace(parts[0] + "/" + currentPage)
        }
    </script>
</section>
</html>